.CitiesSearchResults-selectResults{
z-index: 2;
}


    .list-group-item:hover{
        background-color: #f5f5f5;
        cursor: pointer;
    }
/* .test{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
} */